/* IMPORTACIÓN DE LAS FUENTES */
@font-face {
    font-family: 'Avenir Light';
    src: url(../fonts/Avenir\ Light.ttf);
    font-family: 'Brandon grotesque';
    src: url(../fonts/Brandon\ grotesque.otf);
}

/* DEFINICIÓN DE VARIABLES */
:root {
    font-size: 16px;
    --font__parrafos: 'Avenir Light';
    --font__titulos: 'Brandon grotesque';
    --verde: #2A7C6F;
    --verde__claro: #CADED9;
    --fondo: #FFFDF8;
    --blanco: #FFFFFF;
}

/* ESTILOS GLOBALES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    font-family: var(--font__parrafos);
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5; 
    background-color: var(--fondo);
    color: var(--verde);
}

/* MODIFICACIÓN DEL SELECTOR DE CONTENIDO */
*::selection {
    color: var(--blanco);
    background-color: var(--verde);
}

/* MODIFICACIÓN DE LA BARRA LATERAL DE NAVEGACIÓN */
*::selection {
    width: 5px;
    background-color: var(--verde);
    border-radius: 10px;
}

/* LOADER */
.loader {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    background-color: var(--fondo);
}
.loader__onda {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader__halo {
    position: absolute;
    border: 4px solid var(--verde);
    opacity: 1;
    border-radius: 50%;
    animation: loader__onda 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader__halo:nth-child(2) {animation-delay: -0.5s;}
@keyframes loader__onda {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/* MENU MOVIL */
.menu__boton {
    color: var(--verde);
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    transform: translateX(calc(100vw - 50px));
}
.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: stretch;
    text-align: center;
    background-color: var(--fondo);
    height: 100vh;
    width: 100%; 
    z-index: 800;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%);
    transition: all 1s ease;
    top: 0;
}
.menu__enlace {
    transition: all 1s ease;
    text-decoration: none;
    color: var(--verde);
    display: block;
    padding: 50px 0;
}
.menu__enlace:hover {
    background-color: var(--verde);
    color: var(--blanco);
}
.toggle__menu {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.header__separador{display: none;}

/* DISEÑO DE LA PORTADA */
.header__titulo {
    margin: 50px 0 20px;
    font-size: 2rem;
    font-family: var(--font__titulos);
    text-align: center;
    font-weight: 100;
    padding: 0 10px;
}
.header__subtitulo {
    text-align: center;
    font-size: 1.2rem;
}
.header__imagen{
    display: block;
    margin: auto;
    width: 100%;
}

/* DISEÑO DE LA INTRODUCCION */
.introduccion{
    background-color: var(--verde);
    color: var(--blanco);
    text-align: center;
    padding: 50px 10px;
}
.introduccion__titulo{
    font-size: 2rem;
    font-weight: 100;
    font-family: var(--font__titulos);
}
.introduccion__parrafo{
    margin: 50px auto;
    line-height: 1.4;
}
.introduccion__habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
    text-align: center;
    padding: 0 10px; 
    position: relative;
    height: 300px;
    width: 300px;;
    margin: auto;
    border-radius: 10px;
    color: var(--verde);
}
.splide__track {padding: 50px;}
.introduccion__icon {
    background-color: #f1f1f1;
    border-radius: 50%;
    font-size: 3rem;
    padding: 25px;
    color: var(--verde);
    position: absolute;
    top: -50px;
}
.introduccion__titulo::selection, .introduccion__parrafo::selection{
    color: var(--verde);
    background-color: var(--blanco);
}


/* ARTICULOS */
.articulos {
    margin: 50px 10px;
    border: 1px solid var(--verde);
    display: flex;
    flex-direction: column;
}
.articulos__imagen{background-color:var(--verde__claro);padding: 20px;}
.articulos__img{width: 100%; max-height: 300px;}
.articulos__texto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    background-color: var(--blanco);
}
.articulos__parrafos {
    max-height: 250px;
    overflow-y: auto;
}
.articulos__enlace {
    text-decoration: none;
    color: var(--verde);
    position: relative;
    text-align: center;
    width: max-content;
}
.articulos__enlace::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--verde);
    border-radius: 10%;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
.articulos__enlace:hover::before {transform: scaleX(1);}
.articulos__titulos{font-family: var(--font__titulos);}

/* DISEÑO PARA LA HOJA DIGITAL */
.main, .main__parrafo {
    width: calc(100% - 20px);
    background-color: var(--blanco);
    margin: 10px;
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main__parrafo{
    width: 100%;
    border: none;
    margin: 0;
}
.main__titulo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    font-family: var(--font__titulos);
}
.main__subtitulos{
    font-size: 1.15rem;
    font-family: var(--font__titulos);
    font-weight: 900;
    text-transform: uppercase;
}
.main__img{width: 100%;}
.main__imagen{
    background-color: var(--verde);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4vw;
}
.main__img--sobremi{
    height: 300px;
    width: auto;
}
.footer {
    font-family: var(--font__titulos);
    text-align: center;
    margin: 50px 10px 25px 10px;
    font-weight: 900;
}
.main__sobremi{padding: 0; gap: 0;}